*{
  padding: 0px;
  margin: 0px;

}
#tech{
  color: rgb(10, 10, 73);
}
#info{
  color:orangered;
}

#navbar{
  width: 100%;
  position: fixed;
  height: 100px;
  background-color: transparent;
}
.navbar-brand{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: black;
  letter-spacing: 2px;
  font-size: 30px;
}
#navbarCollapse{
  margin-left: 150px;


}
#navbarCollapse a{
  margin-right: 20px;
  transition: all 0.5s;
  font-weight: bold;
  color: rgb(10, 10, 73);  
}
#navbarCollapse a:hover{
  color: orangered;

}

#sign-up{
  border: 1px solid orangered;
  color: rgb(10, 10, 73);
  font-weight: bold;

}
#sign-up:hover{
  background-color:white;
  
}


.d-flex{
  display: flex;
  grid-gap: 20px;
}
.d-flex button{
  color: black;
  background-color: orangered;
  border-radius: 4px;



}
.d-flex button:hover{
  border-radius: 4px;
  background-color: white;

}
 .input-group{
    width: 400px;
  }



  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }


#myCarousel p{
  color: rgb(10, 10, 73);
}
#myCarousel h1{
  color: rgb(10, 10, 73);

}
#myCarousel #btn-btn{
  background-color: orangered;
  transition: all 0.5s;
  
}
#myCarousel #btn-btn:hover{
  background-color: white;
  color: rgb(10, 10, 73);
  border: 1px solid orangered;
}

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}




.Carousel slide{
  background-image: url(portfolio/portfolio-9.jpg);
}



#about{
  background-color:  rgb(10, 10, 73);
  color: white;
  text-align: start;
  
}


#btn-btn{
  border: 2px solid white;
  font-weight: bold;
  color: white;
}
#btn-btn:hover{
  background-color: orangered;
}
.row{
  grid-gap: 20px;
  color: rgb(10, 10, 73);
  background-color: lightgray;


}
#rows{
  border-radius: 5px;
  background-color: white;
  color: rgb(10, 10, 73);
  box-shadow: 15px 10px 10px  rgb(10, 10, 73);
  transition: all 0.5s;
  text-align: center;
  font-weight: bold;
opacity: 1;
transition: all 0.5s;

}
#rows:hover{
background-color: orangered;
transform: scale(1.01);
color: white;
}
#btn-btns{
  border: 2px solid rgb(10, 10, 73);
  font-weight: bold;
  color: rgb(10, 10, 73);
}
#btn-btns:hover{
  background-color: orangered;
  color: white;
  border: 2px solid white;
  transform: scale(1.01);

}
#container-form{
  height: 400px;
}
 form {
   justify-content: center;
 }
#name , #email, #comment{
  width: 500px;
  text-align: center;
  height: 40px;
  border: 1px solid orangered;
  border-radius: 7px;
}
h1{
  color: rgb(10, 10, 73);
}

#submit{
  background-color: rgb(10, 10, 73)
}
#submit:hover{
  opacity: 0.9;
  transform: scale(1.1);
}
#comment{
  height: 200px;
}
